@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 30rem;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-image: linear-gradient(rgb(250 205 102), rgb(250 205 102));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
input[type="range"].volume {
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(250 205 102);
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #1e1e1e;
  padding-top: 1rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5555px;
}
